<!-- <div class="container-fluid bg">
    <form class="mb-3 m-3" (ngSubmit)= "searchGithubRepos()" #e="ngForm">
        <input type="text" class="form-control search"  name="search" ngModel #search="ngModel"
            placeholder="Enter your Github username" required >
        <p class="text-success error-block" ></p>
        <div class=" text-center">
            <button type="submit" class="repo">search repos </button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6" *ngFor="let repos of userInfo ">
            <div class="">
                <div class="card">
                    <div>
                        <h3>{{repos?.name}}</h3>
                    </div>
                    <div>
                        {{repos?.description}}
                    </div>
                    <a href="{{ repos?.html_url }}" target="_blank" class="">Repository Details</a>
                    <p> published on: {{repos?.created_at | date }}</p> 
                </div>
            </div>
        </div>
    </div>
</div>
 -->
