.repo{
    background-color: rgb(13, 156, 13);
    border: none;
    color: white;
    border-radius: 10px;
}
::placeholder{
    color: rgb(87, 9, 110);
}
.card{
    margin-bottom: 10px;
    background-color: #161b22;
    border-color: white;
    border-radius: 10px;
    padding: 1rem;
    color: white;
}
.bg{
    background-color: #161b22;
    color: white;
}
.card a{
    text-decoration: none;
    color: rgb(96, 221, 106);
    background-color: gray ;
}
