<div class="container-fluid">
    <h2 class="text-center">Enter your username</h2>
    <hr>
    <form (ngSubmit)='' #quoteForm='ngForm'>
        <div class="form-group">

            <label for="name">Github Username</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="new username" name="name"
                #name='ngModel' required>>

            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>username is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Search repository</button>
    </form>
</div>