<div class="container-fluid bg"><br>
    <div class="row"><br>
        <div class="col-md-3 user">
            <h3 class="text-center">GitHub Profile</h3><br>
            <div class="card">
                <div class="git">
                    <div class="text-start">
                        <h3>{{username?.name}}</h3>
                    </div>
                    <div>
                        {{username?.login}}
                    </div>
                    <div>
                        {{username?.bio}}
                    </div>
                    <div>
                        {{username?.public_repos}} Repositories 
                    </div>
                   
                    <div>
                        <i class="fa fa-building" aria-hidden="true"></i> {{username?.company}}
                    </div>
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{username?.location}}
                    </div>
                    <div>
                        <i class="fa fa-users" aria-hidden="true"></i> {{username?.followers}} Followers.
                        {{username?.following}} Following.
                    </div>
                    <div>
                       <p><i class="fa fa-sign-in" aria-hidden="true"></i> {{username?.created_at | date}} </p>
                       <p appStrikethrough>{{username?.created_at | dateCount }} Days ago</p>

                    </div>
                    
                </div>
    
            </div>
        </div>
        <div class="col-md-9 ">
            <h3 class="text-center">Repositories</h3><br>
            <div class="row">
                <div class="card col-md-6" *ngFor="let repository of repository; let i = index ">
                    <h4 class="text-center">{{repository.name}}</h4>
                    <p>{{repository.description}}</p>
                    <a href="{{ repository.html_url }}" target="_blank" class="">Repository Details</a>
                    <p>Created On: {{repository.created_at | date }}</p> 
                </div>
            </div>
        </div>
    </div><br>
</div>